body{
  background-image: url("../img/background-tchat.jpg");
  color: lightgrey;
}

#main{
	display: block;
	float: left;
	width:900px;
}

#divTitle{
	display: block;
	float: left;
	width:100%;
}

#divLoginForm{
	display: block;
	float: left;
	width:100%;
}

#loginForm{
	display: block;
	float: left;
	width:100%;
}

#divUsers{
	display: block;
	float: left;
	width:20%;
}

#users{
	display: block;
	float: left;
	width:100%;
}

#divTchat{
	display: none;
	float: left;
	height: 500px;
	width:79%;
	border: solid white 2px;
}

#tchat{
	display: block;
	float: left;
	height: 400px;
	width: 100%;
	overflow-y: scroll
}

#divMsgForm{
	display: block;
	float: left;
	height: 100px;
	width: 100%;
}

#divMsgForm textarea{
	width: 100%;
}

.aMsg{
	display: block;
	float: left;
	width: 100%;
}

.aMsg .content{
	display: block;
	float: left;
	width: 80%;
}

.aMsg .time{
	display: block;
	float: left;
	width: 20%;
	text-align: right;
}

#msgForm{
	display: block;
	float: left;
	width:100%;
}